<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ course.getName }}</title>
    </head>
    <body>
        <h2>Course Information</h2><hr>


        <h2>{{ course.getName }}'s Students</h2><hr>
            
        <a href='/'>Home</a>
    </body>
</html>
